<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466490039210-vb32d51353q12rmrhve0kil850pli0pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466490039210-vb32d51353q12rmrhve0kil850pli0pc</string>
	<key>API_KEY</key>
	<string>AIzaSyCmyRQ__ylKw40P4o-qHDXf0TTuYiUamI0</string>
	<key>GCM_SENDER_ID</key>
	<string>466490039210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thomasw.cryptocurrency.app</string>
	<key>PROJECT_ID</key>
	<string>cryptocurrencyapp-8488d</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptocurrencyapp-8488d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466490039210:ios:d257568e7b21f2f78d29d3</string>
</dict>
</plist>